// https://getbootstrap.com/docs/4.4/getting-started/theming/

$font-family-base: 'Arimo';

$theme-colors: (
  'primary': #707070,
  'secondary': #007bff,
);

$font-size-base: 0.9rem;
$paragraph-margin-bottom: 1rem;

$body-color: #707070;

$headings-font-family: 'Arimo';
$headings-margin-bottom: 1.5rem;
